<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>622383254163-n777simebf3qg22rcl61k1p9j0pfrfq0.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.622383254163-n777simebf3qg22rcl61k1p9j0pfrfq0</string>
	<key>API_KEY</key>
	<string>AIzaSyAduYdPbpJgaNboGgc8EmS4RL3AieVoojc</string>
	<key>GCM_SENDER_ID</key>
	<string>622383254163</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>io.duxi.coldcrypto.ios</string>
	<key>PROJECT_ID</key>
	<string>coldcrypto-a4a53</string>
	<key>STORAGE_BUCKET</key>
	<string>coldcrypto-a4a53.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:622383254163:ios:e97851612b9a748c</string>
	<key>DATABASE_URL</key>
	<string>https://coldcrypto-a4a53.firebaseio.com</string>
</dict>
</plist>